/.classpath
/.project
/.settings/
/target/
/.extract/
/.idea
MCSFS.iml
/src/main/java/mcsfs/store/azure/AzureConstants.java
/mcsfs/store/gcs/uber-293b-2cbb4319a6f4.json
mcsfs_files/
mcsfs_working_dir/
temp
